html,body,#root {
  height: 100%;
}

.fullPage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: inherit;
}

.lotState {
  display: inline;
  margin: 0 10px 0 10px;
}

.lotWrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}